@{
    ViewBag.Title = "初始布局页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
        
    });
</script>


<div>初始布局页</div>



