<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>管理系统</title>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Style/bootstrap.css" rel="stylesheet" />
<link href="~/Style/bootstrap.min.css" rel="stylesheet" />
<link href="~/Style/font-awesome.min.css" rel="stylesheet" />

<link href="~/Layer/css/layui.css" rel="stylesheet" media="all" />
<script src="~/Layer/layui.js"></script>
<script src="~/Scripts/FunctionJS.js"></script>
<script src="~/Layer/common.js"></script>
<script src="~/Layer/navbar.js"></script>

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<script>
    //重置
    function Reset() {
        $(".input-sm.form-control").val("");
        Search();
    }
</script>