<div class="form-group btn-group-search">
    <div class="btn-group-search">
        <button type="button" class="layui-btn layui-btn-sm" id="SearchButton" onclick="Search()"><i class="layui-icon layui-icon-search"></i>搜索</button>
        <button type="button" class="layui-btn layui-btn-warm layui-btn-sm" id="ResetButton" onclick="Reset()"><i class="layui-icon layui-icon-refresh"></i>重置</button>
    </div>
</div>