<div class="form-group btn-group-search">
    <div class="btn-group-search">
        <button type="button" class="btn btn-primary btn-rounded btn-sm btn-search" id="SearchButton"><i class="fa fa-search"></i>搜索</button>
        <button type="button" class="btn btn-warning btn-rounded btn-sm btn-reset" id="ResetButton"><i class="fa fa-refresh"></i>重置</button>
    </div>
</div>