@using Webdiyer.WebControls.Mvc;
@model Company.Model.Staff


@{
    ViewBag.Title = "CreateOrEdit";
    Layout = null;
}
@Html.Partial("~/Views/Shared/_header.cshtml")
<script type="text/javascript">    
    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引

    layui.use('form', function () {
        var form = layui.form;
        var json =@Html.Raw(Json.Encode(Model)) ;//model转json
        var action = "@ViewBag.action";
        if (action=="detail") {
            seeDetail();
        }
        //给表单赋值
        form.val("form", json);

        //监听提交
        form.on('submit(formSubmit)', function (data) {
            getAjax("/Staff/CreateOrEditResult", "action=" + action+"&json=" + JSON.stringify(data.field), function (rt) {
                var httpRtn = JSON.parse(rt);
                if (httpRtn.code==0) {
                    layer.msg("提交成功！");
                    $("#funcbar").attr("style", "display:none")
                    parent.Search();
                    parent.layer.close(index);
                    return true;
                }
                layer.msg(httpRtn.msg);
            })
            return false;
        });
    });

    function seeDetail() {
        $("#funcbar").attr("style", "display:none");
        $(".layui-input").attr("readonly", "readonly")
    }
</script>


<form class="layui-form" lay-filter="form" style="margin-top: 3%;">
    <input type="text" id="staffid" name="StaffId"   hidden="hidden">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="Name" required lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input" style="width:60%">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-block">
            <input type="number" name="Age" required lay-verify="required" placeholder="请输入年龄" autocomplete="off" class="layui-input" style="width:60%">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="Sex" value="男" title="男" checked>
            <input type="radio" name="Sex" value="女" title="女">
        </div>
    </div>
    <div class="layui-form-item" style="position:fixed;bottom:0" id="funcbar">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

