@using Company.Model
@using Webdiyer.WebControls.Mvc;
@model  PagedList<Company.Model.Staff>

@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Search{
    <div class="divSearchForm" id="searchToolbar">
        <form class="form-inline form-search" method="post" style="margin-bottom:5px">
            <div class="form-group">
                <label class="control-label">姓名</label>
                <input class="input-sm form-control" id="username" />
            </div>
            @Html.Partial("~/Views/Shared/_searchButtons.cshtml")
        </form>
    </div>
}
@section Scripts{

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        function rtOption() {
            var _url = "@Url.Action("IndexResult", "Staff")" + "?username=" + $("#username").val();
            var options = {
                elem: '#demo'
                , skin: 'line' //皮肤
                , even: true     //是否开启隔行颜色
                , height: "full-200"
                , method: 'post'
                , url: _url //数据接口
                , contentType: 'application/json'
                , parseData: function (res) {
                    console.log(res)
                    return {
                        "code": res.code,
                        "msg": res.msg,
                        "count": res.count,
                        "data": res.data
                    };
                }
                , page: { theme: '#c00' } //开启分页
                , cols:
                    [
                        [ //表头
                            { field: 'StaffId', title: 'ID', width: 80, sort: true, fixed: 'left', hide: true}
                            ,{ field: 'Name', title: '用户名', width: "30%" }
                            , { field: 'Age', title: '年龄', width: "20%", sort: true }
                            , { field: 'Sex', title: '性别', width: "20%", templet: '#filteSex' } //templet 模版选择器
                            , { fixed: 'right', width: 250, align: 'center', toolbar: '#barDemo' } //这里的toolbar值是模板元素的选择器
                        ]
                    ]
            }
            return options;
        }
        layui.use('table', function () {
            var table = layui.table;
            table.render(rtOption());
        });

        //查询
        function Search() {
            var table = layui.table;
            var tableIns = table.render()
            tableIns.reload(rtOption());
        }

    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="filteSex">
        {{#  if(d.Sex < 1){ }}
        {{"女"}}
        {{#  } else { }}
        {{"男"}}
        {{#  } }}
    </script>
}
<table id="demo" lay-filter="test"></table>






