@using Webdiyer.WebControls.Mvc;
@model  PagedList<Company.Model.Staff>

@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
@section Search{
    <div class="divSearchForm" id="searchToolbar">
        <form class="form-inline form-search" method="post" style="margin-bottom:5px">
            <div class="form-group">
                <label class="control-label">姓名</label>
                <input class="input-sm form-control" id="username" />
            </div>
            @Html.Partial("~/Views/Shared/_searchButtons.cshtml")
        </form>
    </div>
}
@section Scripts{

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        function rtOption() {
            var _url = "@Url.Action("IndexResult", "Staff")" + "?username=" + $("#username").val();
            var options = {
                elem: '#demo'
                ,title:"123"
                , skin: 'line' //皮肤
                , even: true     //是否开启隔行颜色
                , toolbar:"#create"
                , height: "full"
                , method: 'post'
                , url: _url //数据接口
                , contentType: 'application/json'
                , parseData: function (res) { 
                    console.log(res)
                    return {
                        "code": res.code,
                        "msg": res.msg,
                        "count": res.count,
                        "data": res.data
                    };
                }
                , page: { theme: '#c00' } //开启分页
                , cols:
                    [
                        [ //表头
                            { field: 'StaffId', title: 'ID', width: 80, sort: true, fixed: 'left', hide: true}
                            ,{ field: 'Name', title: '用户名', width: "30%" }
                            , { field: 'Age', title: '年龄', width: "20%", sort: true }
                            , { field: 'Sex', title: '性别', width: "20%", templet: '#filteSex' } //templet 模版选择器
                            , { fixed: 'right', width: 250, align: 'center', toolbar: '#barOperate' } //这里的toolbar值是模板元素的选择器
                        ]
                    ]
            }
            return options;
        }
        layui.use('table', function () {
            var table = layui.table;
            table.render(rtOption());
            //Table事件监听
            table.on('tool(table)', function (obj) {
                var data = obj.data; //获得当前行数据
                console.log(data)
                var layEvent = obj.event;//点击事件
                switch (layEvent) {
                    case "detail":
                        layer.open({
                            title: '查看'
                            , type: 2
                            , content: '/Staff/CreateOrEdit?action=detail&id=' + data.StaffId
                            , area: ['50%', '50%']
                            , maxmin: true
                            , shadeClose: true
                            , skin: "layui-layer-molv"
                        });
                        break;
                    case "edit":
                        layer.open({
                            title: '编辑'
                            , type: 2
                            , content: '/Staff/CreateOrEdit?action=edit&id=' + data.StaffId
                            , area: ['50%', '50%']
                            , maxmin: true
                            , shadeClose: true
                            , skin: "layui-layer-molv"
                        });
                        break;
                    case "del":
                        layer.confirm('确定要删除么？', {
                            btn: ['是', '否'] //按钮
                        }, function () {
                            getAjax("/Staff/DeleteResult", "id=" + data.StaffId, function (rt) {
                                var httpRtn = JSON.parse(rt);
                                if (httpRtn.code == 0) {
                                    layer.msg('已删除', { icon: 1 });
                                    Search();
                                    return true;
                                }
                                layer.msg(httpRtn.msg);
                            })
                        }, function () {

                            });    
                        break;
                    default:
                }
            })
        });

        //查询
        function Search() {
            var table = layui.table;
            var tableIns = table.render()
            tableIns.reload(rtOption());
        }

        //新增
        function Create() {
           layer.open({
                title: '新增'
                ,type: 2
               , content: '/Staff/CreateOrEdit?action=create'
                ,area: ['50%', '50%']
               , maxmin: true
               , shadeClose:true
               , skin: "layui-layer-molv"
               , cancel: function (index, layero) { //关闭窗口时
                   //layer.confirm('确定要关闭么？', {
                   //    btn: ['是', '否'] //按钮
                   //}, function () {
                   //    layer.msg('已关闭', { icon: 1 });
                   //    layer.close(index)
                   //}, function () {

                   //});
                   return false; 
               }
            });
            //弹出即全屏
            //layer.full(index);
        }

    </script>
    <script type="text/html" id="barOperate">
        <button class="layui-btn layui-btn-sm layui-btn-radius" lay-event="detail"><i class="layui-icon layui-icon-search"></i>查看</button>
        <button class="layui-btn layui-btn-sm layui-btn-radius" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</button>
        <button class="layui-btn layui-btn-danger layui-btn-sm layui-btn-radius" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
    </script>
    <script type="text/html" id="create">
        <button class="layui-btn layui-btn-sm layui-btn-radius"  lay-event="create" onclick="Create()"><i class="layui-icon layui-icon-add-1"></i>新增</button>
    </script>
    <script type="text/html" id="filteSex">
        {{#  if(d.Sex < 1||d.Sex=='女'){ }}
        {{"女"}}
        {{#  } else { }}
        {{"男"}}
        {{#  } }}
    </script>
}
<table id="demo" lay-filter="table"></table>






